#works {
	padding-top: 0px !important;
}

.page-head h2 {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

figcaption {
	color: #3F56AF !important;
}

.post-meta {
	background-color: red;
}

.footer ul {
	list-style: none;
	padding: 0px;
}


/*.main-block {
	background-color: #F5F5F5;
}*/

.partners img {
    display: inline-block !important;
    float: None !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.logo-body {
	max-width: 60% !important;
	margin-left: auto;
	margin-right: auto;
}

.logo-img {
	max-width: 20% !important;
	margin-left: auto;
	margin-right: auto;
	float: left;
}