{% load static %}
{% load pages_tags mezzanine_tags i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />

<link rel="stylesheet" href="{% static "custom.css" %}" />

<!-- animate.css -->
<link rel="stylesheet" href="{% static "assets/animate/animate.css" %}" />
<link rel="stylesheet" href="{% static "assets/animate/set.css" %}" />

<!-- gallery -->
<link rel="stylesheet" href="{% static "assets/gallery/blueimp-gallery.min.css"}">

<!-- favicon -->
<link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/x-icon">
<link rel="icon" href="{% static "img/favicon.png" %}" type="image/x-icon">


<link rel="stylesheet" href="{% static "assets/style.css" %}">

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% block navbar_title %}
    
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/"><img class = 'img img-responsive logo-img' src="{% static 'images/logo.png' %}"></a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    {% endblock%}
</div>
<div class="navbar-collapse collapse">
    {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
    {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
</div>
</div>
</div>
<!-- #Header Starts -->
    <br><br><br>
    {% block works %}
    {% endblock %}


<div class = 'container'>
    <!-- Cirlce Starts -->
    <div id="about"  class="container about">
        <br>

        {% nevercache %}
        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endnevercache %}

        <div class = 'page-head'>
            <h2>{% block title %}{% endblock %}</h2>
            <ul class="breadcrumb">
            {% spaceless %}
            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
            {% endspaceless %}
            </ul> 
        </div>
        
      <div class="row main-block">
      <!-- <div class="col-sm-2 wowload fadeInLeft left">
        {% block left_panel %}
        <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
        {% endblock %}
      </div> -->
      <div class="col-sm-12 wowload fadeInRight">
      

      
      {% block main %}
      <h4><i class="fa fa-code"></i> Frontend & Backend Development</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>  
      {% endblock %}  
      </div>
      
      </div>

      {% block page_bottom %}
      {% endblock %}
</div>














<div class = 'container'>
    <!-- Footer Starts -->
    <div class="footer text-center spacer">
    <p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-linkedin fa-2x"></i></a> <a href="#"><i class="fa fa-whatsapp fa-2x"></i></a> <a href="#"><i class="fa fa-skype fa-2x"></i></a> </p>
    Copyright 2016 Corporate Earth. All rights reserved.
    <br>
    <p>Office Contact</p>
    <ul>
        <li><i class="fa fa-phone"></i> +2638677104568</li>
        <li><i class="fa fa-envelope"></i> rugareta@gmail.com</li>
    </ul>
    
    </div>
    <img class = 'img img-responsive logo-body' src="{% static 'images/icon.png' %}">
    <!-- # Footer Ends -->
    <a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>
</div>







<!-- <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>   
</div> -->



<!-- jquery -->
<script src="{% static "assets/jquery.js" %}"></script>

<!-- wow script -->
<script src="{% static "assets/wow/wow.min.js" %}"></script>


<!-- boostrap -->
<script src="{% static "assets/bootstrap/js/bootstrap.js" %}" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="{% static "assets/mobile/touchSwipe.min.js" %}"></script>
<script src="{% static "assets/respond/respond.js" %}"></script>

<!-- gallery -->
<script src="{% static "assets/gallery/jquery.blueimp-gallery.min.js" %}"></script>

<!-- custom script -->
<script src="{% static "assets/script.js" %}"></script>

</body>
</html>