{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}


{% block works %}
<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
        <img src="{% static "images/portfolio/1.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Clients</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/1.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/2.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Events</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/2.jpg"}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/3.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Community</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/3.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <!-- <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/4.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Vintage</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/4.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/5.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Typers</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/5.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/6.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>hotel</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/6.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/7.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Chinese</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/7.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/8.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Dicrap</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/8.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/9.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>Coffee</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/9.jpg"}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/10.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>cameras</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/10.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/11.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>design</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/11.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{% static "images/portfolio/12.jpg" %}" alt="img01"/>
        <figcaption>
            <h2>studio</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="{% static "images/portfolio/12.jpg" %}" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure> -->
    

     
</div>
<!-- works -->
{% endblock %}

{% block main %}
<img class = 'img img-responsive logo-body' src="{% static 'images/logo.png' %}">
{% blocktrans %}


<!--   <div class="process">
  <ul class="row text-center list-inline  wowload bounceInUp">
      <li>
            <span><i class="fa fa-history"></i><b>Research</b></span>
        </li>
        <li>
            <span><i class="fa fa-puzzle-piece"></i><b>Plan</b></span>
        </li>
        <li>
            <span><i class="fa fa-database"></i><b>Develop</b></span>
        </li>
        <li>
            <span><i class="fa fa-magic"></i><b>Integration</b></span>
        </li>        
        <li>
            <span><i class="fa fa-cloud-upload"></i><b>Deliver</b></span>
        </li>
    </ul>
  </div>
</div> -->


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod augue sed diam pellentesque porttitor. Morbi varius odio a nisi iaculis, ut gravida est fringilla. Cras sed elit nisl. Praesent at interdum arcu, eget finibus est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam vulputate augue mi, non elementum dolor placerat sed. Vestibulum porta sit amet libero ac mattis. Integer sed arcu nec quam semper semper. Integer tincidunt vulputate neque, eget feugiat mauris aliquam a. Mauris ultricies magna a nisi tincidunt consectetur. Integer lorem leo, euismod sed dolor consequat, posuere sagittis justo. Suspendisse eu aliquet neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi.</p>

<p>Cras gravida risus sed mattis suscipit. Integer vel commodo odio. Nulla vel efficitur diam. Sed sollicitudin, sem viverra sollicitudin semper, arcu lacus tempus nisi, at dignissim sem enim et sem. Nulla facilisi. Aliquam non finibus magna. Vestibulum interdum felis et porttitor facilisis.</p>

<p>Phasellus eu est elit. Curabitur sit amet metus sit amet elit accumsan accumsan quis quis mauris. In vestibulum, enim eu lobortis tempor, metus mi posuere lorem, eu viverra augue erat eget leo. Cras a consequat velit. Aliquam mollis quam quam, id blandit augue feugiat et. Proin sit amet efficitur nisi, eget malesuada nunc. Quisque eros mi, sagittis eget ipsum eget, viverra pellentesque nunc. Nam in sem nec felis placerat finibus molestie ut mi. Suspendisse at egestas risus, consequat facilisis neque. Integer eu accumsan tellus. Vestibulum eu elit felis. </p>
<!-- #Cirlce Ends -->
{% endblocktrans %}
{% endblock %}


{% block page_bottom %}
<!-- About Starts -->
<!-- <div class="highlight-info">
<div class="overlay spacer">
<div class="container">
<div class="row text-center  wowload fadeInDownBig">
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-smile-o  fa-5x"></i><h4>24 Clients</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-rocket  fa-5x"></i><h4>75 Projects</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-cloud-download  fa-5x"></i><h4>454 Downloads</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-map-marker fa-5x"></i><h4>2 Offices</h4>
  </div>
</div>
</div>
</div>
</div>
<div id="partners" class="container spacer ">
    <h2 class="text-center  wowload fadeInUp">Some of our happy clients</h2>
    <div class = 'row'>
    	<div class="col-sm-12 partners  wowload fadeInLeft text-center">
    		
    	     <img src="{% static "images/partners/1.jpg" %}" alt="partners">
    	     <img src="{% static "images/partners/2.jpg" %}" alt="partners">
    	     <img src="{% static "images/partners/3.jpg" %}" alt="partners">
    	     <img src="{% static "images/partners/4.jpg" %}" alt="partners">
    	</div>
    </div>
    <div class = 'row'>
    	
    	  <div class="col-sm-12">
    	  <div class = 'row'>
    	  	  <div id="carousel-testimonials" class="carousel slide testimonails  wowload fadeInRight" data-ride="carousel">
    	  	  <div class="carousel-inner">  
    	  	    <div class="item active animated bounceInRight row">
    	  	    <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="{% static "images/team/1.jpg" %}" width="100" class="img-circle img-responsive"></div>
    	  	    <div  class="col-xs-10">
    	  	    <p> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. </p>      
    	  	    <span>Angel Smith - <b>eshop Canada</b></span>
    	  	    </div>
    	  	    </div>
    	  	    <div class="item  animated bounceInRight row">
    	  	    <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="{% static "images/team/2.jpg" %}" width="100" class="img-circle img-responsive"></div>
    	  	    <div  class="col-xs-10">
    	  	    <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
    	  	    <span>John Partic - <b>Crazy Pixel</b></span>
    	  	    </div>
    	  	    </div>
    	  	    <div class="item  animated bounceInRight row">
    	  	    <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="{% static "images/team/3.jpg" %}" width="100" class="img-circle img-responsive"></div>
    	  	    <div  class="col-xs-10">
    	  	    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
    	  	    <span>Harris David - <b>Jet London</b></span>
    	  	    </div>
    	  	    </div>
    	  	</div>

    	  	 
    	  	  <ol class="carousel-indicators">
    	  	  <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
    	  	  <li data-target="#carousel-testimonials" data-slide-to="1"></li>
    	  	  <li data-target="#carousel-testimonials" data-slide-to="2"></li>
    	  	  </ol>
    	  	  
    	  	</div>
    	  </div>
    	  
    	  </div>
    </div>


<h3 class="text-center  wowload fadeInUp">Our team</h3>
<p class="text-center  wowload fadeInLeft">Our creative team that is making everything possible</p>
<div class="row grid team  wowload fadeInUpBig">    
    <div class=" col-sm-3 col-xs-6">
    <figure class="effect-chico">
        <img src="{% static "images/team/8.jpg" %}" alt="img01" class="img-responsive" />
        <figcaption>
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>            
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-3 col-xs-6">
    <figure class="effect-chico">
        <img src="{% static "images/team/10.jpg" %}" alt="img01"/>
        <figcaption>            
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>            
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-3 col-xs-6">
    <figure class="effect-chico">
        <img src="{% static "images/team/12.jpg" %}" alt="img01"/>
        <figcaption>
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>          
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-3 col-xs-6">
    <figure class="effect-chico">
        <img src="{% static "images/team/17.jpg" %}" alt="img01"/>
        <figcaption>
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>
        </figcaption>
    </figure>
    </div>

 
</div>

</div> -->
 {% endblock %}